<!--
  Generated template for the GroupSettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="wechat">
    <ion-title>详情</ion-title>
    <ion-buttons end *ngIf="isMaster">
      <button ion-button (click)="rank();">
        排行
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="members-item">
      <ion-grid>
        <ion-row>
          <ion-col col-2 *ngFor="let item of friends" [class.qunzhu]="item.roletype === '1'">
              <img [src]="item.headurl" tappable (click)="clickItem(item);">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <button ion-item (click)="openMemebers();">
      全部群成员({{friends.length - 2}})
    </button>
  </ion-list>
  <ion-list *ngIf="isMaster">
    <button ion-item (click)="openGameSetting();">
      群游戏设置
    </button>
    <button ion-item (click)="openGroupJiang()">
      群奖
      <ion-note item-right>已产出: 0</ion-note>
    </button>
  </ion-list>
  <ion-list>
    <button ion-item (click)="openInviteConfirm();" *ngIf="isMaster">
      邀请确认
    </button>
    <button ion-item (click)="openAbility();" *ngIf="isMaster">
      权限管理
    </button>
    <button ion-item (click)="openInviteLog();" *ngIf="isMaster">
      邀请日志
    </button>
    <button ion-item (click)="updateNickname();">
      群昵称
      <ion-note item-right>{{group.name}}</ion-note>
    </button>
    <button ion-item (click)="updateNotice();">
      群公告
      <ion-note item-right>{{group.notice || '未设置'}}</ion-note>
    </button>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>消息提示</ion-label>
      <ion-toggle [(ngModel)]="config.msgTip"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>离线推送</ion-label>
      <ion-toggle [(ngModel)]="config.offlineNotify"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>消息置顶</ion-label>
      <ion-toggle [(ngModel)]="config.isTop"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <button ion-item (click)="removeMsg();">
      删除聊天记录
    </button>
  </ion-list>
  <div padding><button ion-button block (click)="rebackGroup();">退出该群</button></div>
</ion-content>
