<!--
  Generated template for the ChatRoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="empty-error-box" *ngIf="!!error">
    {{error}}
  </div>
  <ion-list>
    <ion-card *ngFor="let room of chatRooms" tappable (click)="openChat(room);">
      <ion-item-sliding>
        <ion-item>
          <ion-thumbnail item-left>
            <img src="{{room.headurl || 'assets/imgs/user.jpg'}}">
          </ion-thumbnail>
          <h2>{{room.name}}</h2>
          <p text-wrap>{{room.send_content}}</p>
          <!-- <button ion-button icon-only clear item-right>
            <ion-icon name="ios-more"></ion-icon>
          </button> -->
          <ion-note item-right>
            <p>{{room.senddate|timeAgo: 'YYYY-MM-DD HH:mm:sss'}}</p>
            <p style="text-align: right;">
              <ion-badge color="danger" [hidden]="room.unreadcount == 0">{{room.unreadcount}}</ion-badge>
            </p>
          </ion-note>
          
        </ion-item>
        <ion-item-options side="right">
          <!-- <button ion-button color="primary" (click)="closeTip(room);">
            关闭提示
          </button> -->
          <button ion-button color="danger" (click)="deleteChat(room, $event);">
            删除聊天
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>
