<ion-header no-border>
  <ion-navbar color="wechat">
    <ion-title>
      牌友
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addFriend();">
        加牌友
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="cardBg">
      <ion-searchbar
      #searchBar
      [(ngModel)]="keyword"
      
      [showCancelButton]="true"
      
      (ionInput)="startSearch(keyword);"
      placeholder="搜索名字或ID"
      [animated]="false"
      name="search"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-list>
    
    <ion-card [hidden]="!!keyword" tappable (click)="newGroup();">
      <ion-item >
        <img item-left class="custom-icon" src="assets/imgs/icon_create_group.png"> 创建约局群
        <img item-right class="arrow" src="assets/imgs/icon_arrow.png">
      </ion-item>
    </ion-card>
    <ion-card tappable (click)="groupList();" 
    [hidden]="!!keyword" *ngIf="groups.length > 0">
      <ion-item >
        <img item-left class="custom-icon" 
        src="assets/imgs/icon_friends.png"> 我的约局群({{groups.length}}个)
        <img item-right class="arrow" src="assets/imgs/icon_arrow.png">
      </ion-item>
    </ion-card>
    <ion-card tappable (click)="openInviteApprove();" 
    [hidden]="!!keyword" *ngIf="inviteFriends.length > 0">
      <ion-item >
        <img item-left class="custom-icon" src="assets/imgs/icon_friend_msg.png"> 牌友申请消息 
      <!-- <ion-note item-right> -->
        <ion-badge item-end style="background:red;">{{inviteFriends.length}}</ion-badge>
      <!-- </ion-note> -->
      <img item-right class="arrow" src="assets/imgs/icon_arrow.png">
      </ion-item>
    </ion-card>
  <!-- <ion-card>
    <ion-item [hidden]="!!keyword">
      <img item-left class="custom-icon" src="assets/imgs/icon_friends.png"> 我的牌友({{friends.length}}/500个)
    </ion-item>
  </ion-card> -->
  <h2 class="list-header" [hidden]="!!keyword">
      我的牌友({{friends.length}}/500个)
  </h2>
    <ion-card *ngFor="let person of friends;" tappable (click)="openFriend(person);">
    <ion-item >
      <ion-avatar item-left>
        <img [src]="person.headurl" >
      </ion-avatar>
      {{person.nick}}(ID{{person.friendid}}) 
      <span class="sex" [class.male]="person.gender == '0'" 
        [class.female]="person.gender == '1'">
        <ion-icon name="{{person.gender == '0' ? 
                'ios-male-outline' : 'ios-female-outline'}}"></ion-icon>
      </span>
    </ion-item></ion-card>
  </ion-list>
</ion-content>
