<!--
  Generated template for the FriendDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="wechat">
    <ion-title>详细资料</ion-title>
    <ion-buttons end>
      <button ion-button (click)="report();">
        投诉
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="base-info">
    <ion-card><ion-item>
      <ion-thumbnail item-left>
        <img src="{{person.headurl}}">
      </ion-thumbnail>
      <h2>{{person.nick}}(ID{{person.friendid || person.uid || person.id}})</h2>
      <p>金币:{{calcDiamond(person.diamond)}}万</p>
      <!-- <p>有效邀请人:0&emsp;&emsp;积分:800</p> -->
      <ion-note item-right style="text-align:right;">
        <button ion-button clear (click)="block(person);">{{isblack ? '取消拉黑' : '拉黑'}}</button>
      </ion-note>
    </ion-item></ion-card>
  </div>
  <ion-list *ngIf="!isInvite">
    <ion-card><ion-item tappable (click)="changeNote(person);">
      备注名
      <ion-note item-right>{{person.descname}}</ion-note>
      <img item-right class="arrow" src="assets/imgs/icon_arrow.png">
    </ion-item></ion-card>
    <ion-card><ion-item tappable (click)="tuijian(person);">
      把ta推荐给其他牌友
      <img item-right class="arrow" src="assets/imgs/icon_arrow.png">
    </ion-item></ion-card>
  </ion-list>
  <!-- <ion-list>
    <button ion-item>
      最近常玩
      <ion-note item-right>无</ion-note>
    </button>
  </ion-list> -->

  <div padding *ngIf="!isInvite">
    <button ion-button block (click)="sendMessage(person);">发送消息</button>
    <button ion-button block (click)="deleteFriend(person);" color="white" style="margin-top: 20px;">删除牌友</button>
  </div>
  <div padding *ngIf="isInvite">
      <button ion-button block (click)="invite(person);">邀请成为牌友</button>
  </div>
</ion-content>
