// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content {
    background: rgb(236,236,227);//rgb(247,247,247);
    // background: transparent;
}

.arrow {
    max-width: 12px;
}

.custom-icon {
    max-width: 24px;
}

.list-header {
    font-size: 16px;
    font-weight: bold;
    color: color($colors, FontColor);
    padding-left: 20px;
    font-family: 'PingFang SC';
}

.card-ios, .item-ios {
    background: rgb(202,209,193)!important;
    box-shadow: none!important;
    
    padding-top: 2px;
    padding-bottom: 2px;
}

.card-ios {
    border-radius: 10px;
}

.item-ios {
    
    .label-ios,h2 {
        color: rgb(55,77,37);
        font-size: 16px;
        font-weight: bold;
        font-family: 'PingFang SC';
    }

    p,ion-note {
        font-size: 14px;
        font-family: 'PingFang SC';
        color: rgb(55,77,37);
    }

    .sex {
        
        font-size: 20px;
        font-weight: bold;
    }

    ion-icon {
        color: color($colors, FontColor);
    }

    .male {
        ion-icon {
            color: rgb(9, 160, 224)!important;
        }
        
    }

    .female {
        ion-icon {
            color: rgb(195,110,177);
        }
    }
    
}

ion-navbar {
    .toolbar-background{
        background-image: url('../assets/imgs/global_header.png')!important;
        background-repeat: no-repeat;
        background-size:cover;
        // text-align: center;
   }
}

.sex {
    font-size: 14px;
    padding-left: 5px;
//    color: #666; 
}

.male {
    color: rgb(119,202,237);
}

.female {
    color: rgb(237, 119, 192);
}

.empty-error-box {
    // display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    padding: 60px 30px;
    color: #666;
    font-size: 14px;
    border: 2px dashed #ddd;
    img {
        max-width: 32px;
    }
}
