page-change-earnest-money {
    .help-text {
        font-size: 14px;
        color: red;
        padding: 15px;
        p {
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
        }
    }
}
