page-new-friend-group {
    .radio-btn {
        font-size: 18px;
        color: color($colors, FontColor);
        font-weight: bold;
        font-family: 'PingFang SC';
        padding: 10px;
        display: inline-block;
        // margin-right: 10px;
    }

    .radio-groups {
        padding-right: 20px;
    }
}
